.movie-card {
  height: 18em;
  width: 11.5em;
  margin: 1em;
  position: relative;
  background-color: #262525;
}

.movie-details-link {
  height: fit-content;
}

.movie-card:hover {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.movie-card:focus {
  display: block;
}

.movie-card-img {
  width: inherit;
}

.movie-card-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 9.5em;
  color: white;
  height: 5em;
  padding: 1em;
  background-color: rgb(0, 0, 0, 0.6);
}

.default-image {
  width: 100%;
  margin-top: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.45);
            box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.45);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.45);
            box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.45);
  }
}
