.home-header-container {
 padding: 1em;
 height: 6em;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 border-bottom: 1px solid white;
 position: sticky;
 top: 0;
 z-index: 4;
 background-color: rgb(12,12,12);
 align-items: center;
}

.actions-group {
  height: 100%;
  display: flex;
}

.action-group {
  display: flex;
  align-items: center;
  padding: 1em;
}

@media screen and (max-width: 650px) {
  .home-header-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .actions-group {
    width: 100%;
    flex-direction: column;
    align-items: center;   
    display: flex;
  }

  .action-group {
    width: 42%;
    display: flex;
    align-items: center; 
    padding: 0;
    margin: 0.5em 0em;
    justify-content: space-between;
  }
}

.search-input {
  cursor: text;
}

.search-input:hover {
  color: #000;
  border: 1px solid #0077a4;
}

.search-input:focus {
  color: #fff;
  background-color:#0077a4;
  
} 

.search-input:focus::-webkit-input-placeholder {
  color: #fff;
}