.movie-details-wrapper {
    min-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.movie-details {
  background-color: rgb(240 240 240);
  min-height: 250px;
  width: 700px;
  height: fit-content;
  padding: 1.5em;
}

.header-group {
  display: flex;
  width: 100%;
}

.movie-title {
  font-size: 28px;
}

.movie-release-date {
  margin-left: 0.5em;
}

.close-button {
  text-decoration: none;
  border: none;
  width: 20px;
  align-self: flex-end;
  border-radius: 5px;
  background-color: #c5c5c5;
  border: 1px solid black;
}

.close-button:hover {
  background-color: #D2042D;
}

.subtitle {
  font-weight: 700;
  font-size: 12px;
  margin-right: 0.5em;
}

.cast {
  display: flex; 
  font-size: 12px;
  width: 100%;
  height: fit-content;
  flex-flow: wrap;
  margin-top: 2em;
}

.movie-body {
  width: 100%;
  margin-top: 2em;
}

.movie-description {
  font-size: 12px;
  text-align: left;
}

@media screen and (max-width: 650px) { 
  .movie-info-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .movie-details {
    align-items: center;
    width: 100%;
  }

  .left-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cast {
    display: flex; 
    font-size: 12px;
    width: 100%;
    justify-content: left;
    height: fit-content;
    flex-flow: wrap;
    margin-top: 2em;
  }

  .movie-body {
    width: 100%;
    margin-top: 2em;
  }
}