button {
  position: relative;
  height: 2em;
  width: 10em;
  padding: 0.3rem 0.5rem;
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}
button:hover {
  color: #fff;
  background-color: #0077a4;
}
button.active {
  color: #fff;
  background-color: #0077a4;
}
.dropdown {
  position: absolute;
  z-index: 5;
  top: 38px;
  left: -1px;
  border: 1px solid rgb(197, 197, 197);
  background: #fff;
  padding: 0;
  color: #0077a4;
  text-align: left;
  border-radius: 0.25rem;
}
.dropdown > p {
  margin: 0;
  padding: 0.375rem 0.88rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  min-width: 140px;
}
.dropdown > p:hover {
  color: #fff;
  background-color: #0077a4;
}
.dropdown > p:last-child {
  border-bottom: 0 none;
}